* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.works__title {
  font-size: 26px;
  line-height: 123.0769230769%;
  text-align: center;
  color: #444444;
  font-family: Montserrat-Bold;
}

.dream__button_link {
  background: #FF4E50;
  border-radius: 40px;
  padding: 12px 19px;
  font-size: 14px;
  line-height: 121.4285714286%;
  color: #FFFFFF;
  font-family: Montserrat-Bold;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  min-height: 116px;
  align-items: center;
  flex-wrap: wrap-reverse;
}
.header__logo {
  font-size: 20px;
  line-height: 120%;
}
.header__logo a {
  color: #FFFFFF;
}
.header__menu {
  font-size: 14px;
  line-height: 121.4285714286%;
  font-family: Montserrat-Regular;
}
.header__menu a {
  color: #FFFFFF;
}

.menu {
  margin-right: 41px;
}
.menu__list {
  display: flex;
  align-items: center;
}
.menu__item + .menu__item {
  margin-left: 19px;
}
.menu__item-button a {
  border: 2px solid #FFFFFF;
  border-radius: 40px;
  padding: 10px 18px;
}

@font-face {
  font-family: Montserrat-Regular;
  src: url("../fonts/montserrat/Montserrat-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: Montserrat-Bold;
  src: url("../fonts/montserrat/Montserrat-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: Roboto-Light;
  src: url("../fonts/roboto/Roboto-Light.ttf");
}
body {
  height: 100%;
  font-family: Montserrat-Bold;
  background-color: #FFFFFF;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 960px;
  margin: 0px auto;
  padding: 0px 10px;
}

.main {
  flex: 1 1 auto;
}

.dream {
  background: url("../img/background.jpg") center/cover no-repeat;
}
.dream__inner {
  position: relative;
  z-index: 2;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dream__title {
  text-align: center;
  font-size: 52px;
  line-height: 121.1538461538%;
  color: #FFFFFF;
}
.dream__subtitle {
  font-size: 24px;
  line-height: 100%;
  color: #F7F3F2;
  font-family: Roboto-Light;
  margin-top: 28px;
  text-align: center;
}
.dream__button {
  margin-top: 33px;
}
.works {
  margin-top: 90px;
}
.works__body {
  margin-top: 35px;
}
.works__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -10px;
}
.works__column {
  flex: 0 1 33.3333%;
  padding: 0px 10px;
}
.works__item_body {
  position: absolute;
  z-index: 50;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: end;
}
.works__item-step {
  position: relative;
}
.works__item-title {
  position: relative;
}
.works__item-subtitle {
  position: relative;
}
.works__item-image {
  position: relative;
}/*# sourceMappingURL=style.css.map */