@font-face {
    font-family: Montserrat-Regular;
    src: url('../fonts/montserrat/Montserrat-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Roboto-Light;
    src: url('../fonts/roboto/Roboto-Light.ttf');
}