@import "_imports";

// default settings
body{
    height: 100%;
    font-family: Montserrat-Bold;
    background-color: #FFFFFF;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 960px;
    margin: 0px auto;
    padding: 0px 10px;
}
.main {
    flex: 1 1 auto;
}

// dream block (main)
.dream {
    background: url('../img/background.jpg') center/cover no-repeat;

    &__inner {
        position: relative;
        z-index: 2;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__title {
        text-align: center;
        font-size: 52px;
        line-height: calc(63 / 52 * 100%);
        color: $main_color;
    }
    &__subtitle {
        font-size: 24px;
        line-height: calc(24 / 24 * 100%);
        color: #F7F3F2;
        font-family: Roboto-Light;
        margin-top: 28px;
        text-align: center;
    }
    &__button {
        margin-top: 33px;
        &_link {
            @extend %buttons-link;
        }
    }
}

@media (max-width: 767.98px){
    .dream {
    
        &__title {
            font-size: 30px;
        }
        &__subtitle {
            font-size: 18px;
            margin-top: 13px;
                
        }
    }
}
@media (max-width: 400px){
    .dream {
        &__button {
            margin-top: 33px;
            width: 100%;
            
            &_link {
                display: flex;
                flex: 1 1 auto;
                justify-content: center;
            }
        }
    }
}
// work block (...)
.works {
    margin-top: 90px;
    &__inner {
    }
    &__title {
        @extend %titles;
    }
    &__body {
        margin-top: 35px;
    }
    &__row {
        display: flex;
        flex-wrap: wrap;
        margin: 0px -10px;
    }
    &__column {
        flex: 0 1 33.3333%;
        padding: 0px 10px;
    }
    &__item {
        border-radius: 4px;
        min-height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding: 21px 25px; 
    }
    
    &__item-01{
        background: url('../img/works/work_01.jpg') center/cover no-repeat;
    }
    &__item-02{
        background: url('../img/works/work_02.jpg') center/cover no-repeat;
    }
    &__item-03{
        background: url('../img/works/work_03.jpg') center/cover no-repeat;
    }
    

    &__item-step {
        padding: 5px 13px;
        background: #FF4E50;
        border-radius: 40px;
        width: 74px;
        font-size: 10px;
        line-height: 12px;
        .step {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 10px;
            line-height: calc(12 / 10 * 100%);
            color: #FFFFFF;
            font-family: Montserrat-Regular;
            letter-spacing: 2px;
        }
    }
    &__item-title {
        font-size: 24px;
        line-height: calc(26 / 24 * 100%);
        color: #FFFFFF;
        font-family: Montserrat-Bold;
        margin-top: 22px;
    }
    &__item-subtitle {
        font-family: Roboto-Light;
        color: #E3E3E3;
        font-size: 14px;
        line-height: calc(14 / 14 * 100%);
        margin-top: 25px;
    }
}
@media (max-width: 767.98px){
    .works {
        margin-top: 34px;
        
        &__body {
            margin-top: 15px;
        }
        &__column {
            flex: 0 1 100%;
            padding: 0px 10px;
        }
        &__column + &__column{
            margin-top: 10px;
        }
        &__item {
            min-height: 240px;
            
        }  
        &__item-title {
            font-size: 24px;
            line-height: 58%;
            margin-top: 18px;
        }
        &__item-subtitle {
            font-family: Roboto-Light;
            margin-top: 18px;
        }
    }
}
// partners block (...)
.partners {
    margin-top: 95px;

    &__inner {
    }
    &__title {
        @extend %titles;
    }
    &__body {
        margin-top: 35px;
    }
    &__row {
        display: flex;
        flex-wrap: wrap;
        margin: 0px -10px;
    }
    &__column {
        flex: 0 1 25%;
        padding: 0px 10px;
    }
    &__item {
        text-align: center;
        position: relative;
    }
    &__item-image {
        text-align: center;
        position: relative;
        width: 126px;
        height: 126px;
        margin: 0px auto;
    }
    &__item-image img{
        border-radius: 50%;
    }
    &__item_01::after {
        content: '';
        display: block;
        background-color: #FF4E50;
        background-image: url('../img/partners/music_01.svg');
        background-repeat: no-repeat;
        background-position: center;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
        outline: 4px solid #fff;
    }
    &__item_02::after {
        content: '';
        display: block;
        background-color: #19D4CA;
        background-image: url('../img/partners/brush_02.svg');
        background-repeat: no-repeat;
        background-position: center;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
        outline: 4px solid #fff;
    }
    &__item_03::after {
        content: '';
        display: block;
        background-color: #FFA710;
        background-image: url('../img/partners/camera_03.svg');
        background-repeat: no-repeat;
        background-position: center;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
        outline: 4px solid #fff;
    }
    &__item_04::after {
        content: '';
        display: block;
        background-color: #667DF3;
        background-image: url('../img/partners/airplane_04.svg');
        background-repeat: no-repeat;
        background-position: center;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
        outline: 4px solid #fff;
    }
    &__item-title {
        margin-top: 17px;
        font-size: 14px;
        line-height: calc(17 / 14 * 100%);
        color: #444444;
        font-family: Montserrat-Bold;
    }
    &__item-subtitle {
        margin-top: 23px;
        font-size: 14px;
        line-height: 100%;
        font-family: Roboto-Light;
    }
    &__button {
        text-align: center;
        margin-top: 36px;
    }
    &__button a{
        padding: 10px 20px;
        border: #FF4E50 solid 2px;
        border-radius: 40px;
        font-size: 14px;
        line-height: calc(17 / 14 * 100%);
        color: #FF4E50;
        transition: all 0.2s ease 0s;
        &:hover {
            background-color: #FF4E50;
            color: #FFFFFF;
            transition: all 0.3s ease 0s;
        }
    }
}
@media (max-width: 991.98px) {
    .partners {
        &__row {
            margin: 0px -10px 0px -10px;
            align-items: center;
        }
        &__column {
            flex: 0 1 50%;
            padding: 0px 10px 35px 10px;
        }
    }
}
@media (max-width: 767.98px) {
    .partners {
        margin-top: 35px;
        &__body {
            margin-top: 15px;
        }
       
    }
}
@media (max-width: 400px){
    .partners {
        &__row {
            margin: 0px -10px 0px -10px;
            align-items: center;
        }
        &__column {
            flex: 0 1 100%;
            padding: 0px 10px 20px 10px;
        }
        &__button a{
            display: flex;
            flex: 1 1 auto;
            justify-content: center;
        }
    }
}

// catalog block (...)

.catalog {
    margin-top: 100px;
    &__inner {
    }

    &__title {
        @extend %titles;
    }
    &__body {
        margin-top: 35px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 310px 310px 310px;
        gap: 20px;
    }
    &__img01 {
        background: url('../img/catalog/01.jpg') center/cover no-repeat;
    }
    &__img02 {
        background: url('../img/catalog/02.jpg') center/cover no-repeat;
    }
    &__img03 {
        background: url('../img/catalog/03.jpg') center/cover no-repeat;
    }
    &__img04 {
        background: url('../img/catalog/04.jpg') center/cover no-repeat;
    }
    &__img05 {
        background: url('../img/catalog/05.jpg') center/cover no-repeat;
    }
    &__img06 {
        background: url('../img/catalog/06.jpg') center/cover no-repeat;
    }
    &__img07 {
        background: url('../img/catalog/07.jpg') center/cover no-repeat;
    }
    &__img-big, &__img-big-small{
        grid-column: span 2;
    }
    &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: 22px;
        line-height: calc(27 / 22 * 100%);
        color: #FFFFFF;
        text-align: center;
    }
}
@media (max-width: 767.98px){
    .catalog {
        margin-top: 35px;
        &__body {
            margin-top: 35px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 310px 310px 310px 310px ;
            gap: 10px;
        }
        &__img-big{
            grid-column: span 2;
        }
        &__img-big-small{
            grid-column: span 1;
        }
    }
}
@media (max-width: 575.98px) {
    .catalog {
        &__body {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(7, 120px);
        }
        &__img-big{
            grid-column: span 1;
        }
        &__img-big-small{
            grid-column: span 1;
        }
    }
}
    


// form block (...)
.form {
    margin-top: 90px;
    
    &__inner {
    }

    &__title {
        @extend %titles;
    }

    &__subtitle {
        text-align: center;
        margin-top: 52px;
        font-size: 18px;
        line-height: 78%;
        color: #666666;
        font-family: Roboto-Light;
    }

    &__body {
        margin-top: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.input {

    &__search {
        width: 300px;
        height: 40px;
        padding: 14px 7px;
        letter-spacing: 1px;
        outline: #D4D4D4 solid 1px;
        font-family: Roboto-Light;
        &::placeholder {
            font-family: Roboto-Light;
        }
    }
    &__button{
        margin-left: 10px;
        padding: 13px 27px;
        color: #FFFFFF;
        background-color: #FF4E50;
        border-radius: 40px;
        transition: all 0.3s ease 0s;
        &:hover {
            background-color: #e84346;
            transition: all 0.3s ease 0s;
        }
    }
}
@media (max-width: 500px){
    .form {    
        &__body {
            margin-top: 25px;
           display: block;
        }
    }
   .input__search-form input{
        width: 100%;
   }
   .input__button-form button{
        width: 100%;
   }
   .input {
    &__button{
        margin-left: 0px;
        margin-top: 10px;
    }
}
}
@media (max-width: 767.98px) {
    .form {
        margin-top: 35px;
        &__subtitle {
            margin-top: 12px;
        }
        &__body {
            margin-top: 15px;
        }
    }
}